button {
  background-color: antiquewhite;
  color: cadetblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  padding: 5px;
  border-radius: 10px;
  border-color: bisque;
}

button:hover {
  background-color: beige;
}
